<ion-view view-title="Help">
    <ion-content>
        <div style="height: 100%">
            <div class="container_empty" style="height: 42% !important">
                <div class="ink" ui-sref="app.help_subjects">
                    <ng-md-icon icon="import_contacts" style="fill: gray" size="100"></ng-md-icon>
                    <h4>Subjects</h4>
                </div>
            </div>
            <div class="container_empty" style="height: 42% !important">
                <div class="ink" ui-sref="app.help_gradesheet">
                    <ng-md-icon icon="view_column" style="fill: gray" size="100"></ng-md-icon>
                    <h4>Gradesheet</h4>
                </div>
            </div>
            <div style="position: fixed;bottom: 0px;text-align: center;width: 100%;">
                <p>For more questions, contact us at <br><a href="https://m.facebook.com/aclcmobileclassrecord" onclick="window.open('https://m.facebook.com/aclcmobileclassrecord','_system','location=yes'); return false; ">https://m.facebook.com/aclcmobileclassrecord</a></p>
            </div>
        </div>
    </ion-content>
</ion-view>
